{% extends 'electronicsApp/MainTemplate.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Create Product {% endblock %} - Electronics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block main %}
        <div class="container">
            <div class="row">
                <div class="container text-center sign"><h1>Create a new product</h1></div>
            </div>
                <form method="POST" enctype="multipart/form-data">
                    <div class="col-sm-6">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/create.png' %}" class="img-responsive center-block" style="width: 65%">
                        <br/><br/><br/>
                        <button class="btn btn-success btn-lg center-block" type="submit">Create Product</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
</body>
</html>