{% extends 'electronicsApp/MainTemplate.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Reset Password {% endblock %} | Electronics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block main %}
        <div class="container">
            <div class="row">
                <div class="container text-center sign"><h2>Account Password Recovery</h2></div><br/>
                <div class="col-sm-6">
                    <div class="row-sm-6 text-center" style="margin-top: 50px;">
                        <h1>Oops! <span class="glyphicon glyphicon-wrench"></span></h1>
                        <h3>Password recovery is temporarily unavailable! <br/> Sorry for the inconvenience!</h3>
                    </div><br/>
                    <div class="row-sm-6 text-center">
                        Have an account? <a href="{% url 'loginPage' %}" class="link link-primary">Login here ...</a><br/>
                        No account? <a href="{% url 'registrationPage' %}" class="link link-primary">Create new one ...</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row-sm-6">
                        <img src="{% static 'images/icon.png' %}" class="img-responsive center-block" style="width: 65%">
                    </div>
                </div>
            </div><br/><br/>
            <div class="container text-center sign"><h2></h2></div>
        </div>
    {% endblock %}
</body>
</html>